.label {
	position: absolute;
	z-index: 1
}

.template {
	display: flex;
  	justify-content: center;
  	align-items: center;
	position: absolute;
	z-index: 1;
	left: 0;
	bottom: 0;
}

.text {
	position: absolute;
}